@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap'); /* Example of font import */

.home {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #f5f5dc;
  overflow: hidden;
}

.background-text {
  position: absolute;
  top: 70%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-size: 40em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif; /* Ensuring the same font */
  -webkit-text-stroke: 4px #f5f5dc; /* Adds the outline */
  color: transparent; 
  opacity: 0.2;
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInUp 1s ease-in-out forwards;
}

.hero-content {
  text-align: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text {
  font-size: 5em;
  font-weight: 900;
  font-family: 'Roboto', sans-serif; /* Ensure this matches the imported font */
  animation: fadeInUp 1s ease-in-out forwards;
}

.hero-outline {
  -webkit-text-stroke: 2px#f5f5dc; /* Adds the outline */
  color: transparent; /* Makes the fill transparent */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
